{% extends "/html/base_sidebar.html" %}
{%block subtitle %}: {{post.title}}{% endblock %}

{% block content %}
<div id="post">
    {% include "/html/post-content.html" %}
    <div id="prev-next" class="hidden-print">
        {% if post.prev %}
        <a href="{{post.prev.uri}}">&laquo; {{post.prev.title}}</a>
        {% endif %}
        {% if post.next %}
        <a class="right pull-right" href="{{post.next.uri}}">{{post.next.title}} &raquo;</a>
        {% endif %}
    </div>

    {% if all disqus-shortname post.show-disqus? %}
    <div id="disqus_thread" style="margin-top:20px;" class="hidden-print"></div>
    <script type="text/javascript">
        (function() {
            var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
            dsq.src = '//{{disqus-shortname}}.disqus.com/embed.js';
            (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
        })();
    </script>
    {% endif %}


</div>
{% endblock %}
